@import '../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}




.button-container {
  position: relative;
}

.button-container svg {
  /* Defina as propriedades da imagem conforme necessário */
}

/* styles.css ou seu arquivo de estilo específico */
.btn-custom {
  position: absolute;
  font-size: 100px; /* Tamanho de fonte maior */
  padding: 10px 20px; /* Maior preenchimento para tornar o botão maior */
  width: 55% !important;
  height: 15%;
  font-size: 450%;
  top: 0;
  left: 25%;
  /* Outros estilos personalizados, se necessário */
}
