<nb-card size="medium">
  <nb-card-header>
    <h3>Pacientes</h3>
    <div class="subtitle">Novos/Retorno</div>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
      <div class="chart-header">
        <ngx-legend-chart [legendItems]="chartLegend"></ngx-legend-chart>
      </div>
      <ngx-visitors-analytics-chart [chartData]="visitorsAnalyticsData"></ngx-visitors-analytics-chart>
    </div>
  </nb-card-body>

  <ngx-slide-out [showVisitorsStatistics]="showVisitorsStatistics">
    <ngx-visitors-statistics [value]="pieChartValue" [new]="new" [know]="know" [percentNew]="percentNew" [percentKnow]="percentKnow"></ngx-visitors-statistics>
  </ngx-slide-out>
</nb-card>
